.container {
    width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;  
}

@media screen and (max-width: 800px) {

    .container {
        
        display: grid;
        width: 100%;
        justify-content: column;
        margin: 0 auto;  
    }
}

